streamlit
pytrends
undetected-chromedriver
python-dotenv
selenium 
openpyxl
xlwings
setuptools
pyodbc
streamlit-option-menu
streamlit-elements
python-pptx>=0.6.21
psycopg2-binary  # Agregado para soporte PostgreSQL en Linux